cypress-tests/node_modules

# Playwright
playwright/node_modules/
playwright/test-results/
playwright/playwright-report/
playwright/blob-report/
playwright/playwright/.cache/
playwright/playwright/.auth/
